In [5]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('data/covid_19_data.csv')

In [3]:
df.head()

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [6]:
df["ObservationDate"] = df['ObservationDate'].apply(pd.to_datetime)
df.drop(["SNo"], axis = 1, inplace = True)
df.head()

,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,2020-01-22,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2020-01-22,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,2020-01-22,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,2020-01-22,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,2020-01-22,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [7]:
countries = df["Country/Region"].unique().tolist()
print("{} countries have been affected by the virst".format(len(countries)))
print(countries)

161 countries have been affected by the virst
['Mainland China', 'Hong Kong', 'Macau', 'Taiwan', 'US', 'Japan', 'Thailand', 'South Korea', 'Singapore', 'Philippines', 'Malaysia', 'Vietnam', 'Australia', 'Mexico', 'Brazil', 'Colombia', 'France', 'Nepal', 'Canada', 'Cambodia', 'Sri Lanka', 'Ivory Coast', 'Germany', 'Finland', 'United Arab Emirates', 'India', 'Italy', 'UK', 'Russia', 'Sweden', 'Spain', 'Belgium', 'Others', 'Egypt', 'Iran', 'Israel', 'Lebanon', 'Iraq', 'Oman', 'Afghanistan', 'Bahrain', 'Kuwait', 'Austria', 'Algeria', 'Croatia', 'Switzerland', 'Pakistan', 'Georgia', 'Greece', 'North Macedonia', 'Norway', 'Romania', 'Denmark', 'Estonia', 'Netherlands', 'San Marino', ' Azerbaijan', 'Belarus', 'Iceland', 'Lithuania', 'New Zealand', 'Nigeria', 'North Ireland', 'Ireland', 'Luxembourg', 'Monaco', 'Qatar', 'Ecuador', 'Azerbaijan', 'Czech Republic', 'Armenia', 'Dominican Republic', 'Indonesia', 'Portugal', 'Andorra', 'Latvia', 'Morocco', 'Saudi Arabia', 'Senegal', 'Argentina', 'Chile', 'Jordan', 'Ukraine', 'Saint Barthelemy', 'Hungary', 'Faroe Islands', 'Gibraltar', 'Liechtenstein', 'Poland', 'Tunisia', 'Palestine', 'Bosnia and Herzegovina', 'Slovenia', 'South Africa', 'Bhutan', 'Cameroon', 'Costa Rica', 'Peru', 'Serbia', 'Slovakia', 'Togo', 'Vatican City', 'French Guiana', 'Malta', 'Martinique', 'Republic of Ireland', 'Bulgaria', 'Maldives', 'Bangladesh', 'Moldova', 'Paraguay', 'Albania', 'Cyprus', 'St. Martin', 'Brunei', 'occupied Palestinian territory', "('St. Martin',)", 'Burkina Faso', 'Channel Islands', 'Holy See', 'Mongolia', 'Panama', 'Bolivia', 'Honduras', 'Congo (Kinshasa)', 'Jamaica', 'Reunion', 'Turkey', 'Cuba', 'Guyana', 'Kazakhstan', 'Cayman Islands', 'Guadeloupe', 'Ethiopia', 'Sudan', 'Guinea', 'Antigua and Barbuda', 'Aruba', 'Kenya', 'Uruguay', 'Ghana', 'Jersey', 'Namibia', 'Seychelles', 'Trinidad and Tobago', 'Venezuela', 'Curacao', 'Eswatini', 'Gabon', 'Guatemala', 'Guernsey', 'Mauritania', 'Rwanda', 'Saint Lucia', 'Saint Vincent and the Grenadines', 'Suriname', 'Kosovo', 'Central African Republic', 'Congo (Brazzaville)', 'Equatorial Guinea', 'Uzbekistan']

In [20]:
cases = df.groupby("Country/Region")["Confirmed"].sum()
cases["Country/Region"] = cases.index
cases.reset_index()

,Country/Region,Confirmed
0,Azerbaijan,1
1,"('St. Martin',)",2
2,Afghanistan,74
3,Albania,160
4,Algeria,286
5,Andorra,14
6,Antigua and Barbuda,3
7,Argentina,202
8,Armenia,67
9,Aruba,6
10,Australia,2130
11,Austria,3260
12,Azerbaijan,137
13,Bahrain,1857
14,Bangladesh,26
15,Belarus,152
16,Belgium,3868
17,Bhutan,10
18,Bolivia,27
19,Bosnia and Herzegovina,91
20,Brazil,675
21,Brunei,151
22,Bulgaria,141
23,Burkina Faso,12
24,Cambodia,72
25,Cameroon,18
26,Canada,1583
27,Cayman Islands,3
28,Central African Republic,1
29,Channel Islands,1
...,...,...
132,Seychelles,4
133,Singapore,4121
134,Slovakia,171
135,Slovenia,766
136,South Africa,159
137,South Korea,112920
138,Spain,29317
139,Sri Lanka,82
140,St. Martin,2
141,Sudan,3
142,Suriname,2
143,Sweden,5197
144,Switzerland,8051
145,Taiwan,1363
146,Thailand,1895
147,Togo,10
148,Trinidad and Tobago,4
149,Tunisia,79
150,Turkey,18
151,UK,5922
152,US,15572
153,Ukraine,19
154,United Arab Emirates,1070
155,Uruguay,8
156,Uzbekistan,1
157,Vatican City,4
158,Venezuela,12
159,Vietnam,854
160,occupied Palestinian territory,25
161,Country/Region,"Index([' Azerbaijan', '('St. Martin',)', 'Afgh..."

In [21]:
df.groupby(["Country/Region", "Province/State"]).sum()

                                                            Confirmed  Deaths  \
Country/Region Province/State
Australia      Australian Capital Territory                       3.0     0.0
               Diamond Princess cruise ship                       0.0     0.0
               From Diamond Princess                             55.0     0.0
               New South Wales                                  868.0    22.0
               Northern Territory                                 8.0     0.0
               Queensland                                       450.0     0.0
               South Australia                                  185.0     0.0
               Tasmania                                          34.0     0.0
               Victoria                                         421.0     0.0
               Western Australia                                 98.0    15.0
Austria        None                                               2.0     0.0
Canada          Montreal, QC                                     17.0     0.0
               Alberta                                          149.0     0.0
               British Columbia                                 601.0     7.0
               Calgary, Alberta                                   3.0     0.0
               Edmonton, Alberta                                  4.0     0.0
               Grand Princess                                     2.0     0.0
               London, ON                                        34.0     0.0
               Manitoba                                          12.0     0.0
               New Brunswick                                      6.0     0.0
               Newfoundland and Labrador                          1.0     0.0
               Ontario                                          427.0     0.0
               Prince Edward Island                               1.0     0.0
               Quebec                                            82.0     0.0
               Saskatchewan                                       6.0     0.0
               Toronto, ON                                      238.0     0.0
Denmark        Denmark                                         3549.0     3.0
               Faroe Islands                                     27.0     0.0
France         Fench Guiana                                       5.0     0.0
               France                                         17191.0   357.0
...                                                               ...     ...
US             Summit County, CO                                  8.0     0.0
               Tempe, AZ                                         35.0     0.0
               Tennessee                                        131.0     0.0
               Texas                                            233.0     0.0
               Travis, CA                                         5.0     0.0
               Travis, CA (From Diamond Princess)                10.0     0.0
               Tulsa County, OK                                   3.0     0.0
               Ulster County, NY                                  2.0     0.0
               Umatilla, OR                                       8.0     0.0
               Unassigned Location (From Diamond Princess)      648.0     0.0
               Unassigned Location, VT                            1.0     0.0
               Unassigned Location, WA                           20.0     0.0
               Unknown Location, MA                               2.0     0.0
               Utah                                              57.0     0.0
               Vermont                                           19.0     0.0
               Virgin Islands, U.S.                               2.0     0.0
               Virginia                                         149.0     2.0
               Volusia County, FL                                 2.0     0.0
               Wake County, NC                                    7.0     0.0
               Washington                                      2868.0   197.0
               Washington County, OR                             27.0     0.0
               Washington, D.C.                                   4.0     0.0
               Washoe County, NV                                  6.0     0.0
               Wayne County, PA                                   4.0     0.0
               West Virginia                                      0.0     0.0
               Westchester County, NY                           286.0     0.0
               Williamson County, TN                              5.0     0.0
               Wisconsin                                         95.0     0.0
               Wyoming                                            7.0     0.0
               Yolo County, CA                                    4.0     0.0

                                                            Recovered
Country/Region Province/State
Australia      Australian Capital Territory                       0.0
               Diamond Princess cruise ship                       0.0
               From Diamond Princess                              0.0
               New South Wales                                  156.0
               Northern Territory                                 0.0
               Queensland                                       101.0
               South Australia                                   59.0
               Tasmania                                           0.0
               Victoria                                         164.0
               Western Australia                                  0.0
Austria        None                                               0.0
Canada          Montreal, QC                                      0.0
               Alberta                                            0.0
               British Columbia                                  63.0
               Calgary, Alberta                                   0.0
               Edmonton, Alberta                                  0.0
               Grand Princess                                     0.0
               London, ON                                        26.0
               Manitoba                                           0.0
               New Brunswick                                      0.0
               Newfoundland and Labrador                          0.0
               Ontario                                           28.0
               Prince Edward Island                               0.0
               Quebec                                             0.0
               Saskatchewan                                       0.0
               Toronto, ON                                       36.0
Denmark        Denmark                                            5.0
               Faroe Islands                                      0.0
France         Fench Guiana                                       0.0
               France                                            60.0
...                                                               ...
US             Summit County, CO                                  0.0
               Tempe, AZ                                         11.0
               Tennessee                                          0.0
               Texas                                              0.0
               Travis, CA                                         0.0
               Travis, CA (From Diamond Princess)                 0.0
               Tulsa County, OK                                   0.0
               Ulster County, NY                                  0.0
               Umatilla, OR                                       0.0
               Unassigned Location (From Diamond Princess)        0.0
               Unassigned Location, VT                            0.0
               Unassigned Location, WA                            0.0
               Unknown Location, MA                               0.0
               Utah                                               0.0
               Vermont                                            0.0
               Virgin Islands, U.S.                               0.0
               Virginia                                           0.0
               Volusia County, FL                                 0.0
               Wake County, NC                                    0.0
               Washington                                         6.0
               Washington County, OR                              0.0
               Washington, D.C.                                   0.0
               Washoe County, NV                                  0.0
               Wayne County, PA                                   0.0
               West Virginia                                      0.0
               Westchester County, NY                             0.0
               Williamson County, TN                              0.0
               Wisconsin                                          6.0
               Wyoming                                            0.0
               Yolo County, CA                                    0.0

[271 rows x 3 columns]